{% extends 'sgc/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<h2>Cadastro de Usuário</h2>

<form method="POST" id="cadastroForm" action="{% url 'cadastrar_usuario_view' %}">
    {% csrf_token %}
    <div id="camposComuns">
        {% bootstrap_field form.nome %}
        {% bootstrap_field form.sobrenome %}
        {% bootstrap_field form.email %}
        {% bootstrap_field form.password %}
        {% bootstrap_field form.confirm_password %}
    </div>

    <div class="mb-3">
        {% bootstrap_field form.tipo_acesso %}
    </div>

    <div class="d-grid gap-2">
        {% bootstrap_button button_type="submit" content="Entrar" %}
        <a href="{% url 'index' %}" class="back-button">Voltar</a>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const backButton = document.querySelector('.back-button');
        backButton.addEventListener('click', function () {
            window.history.back();
        });
    });
</script>

{% bootstrap_javascript %}
{% endblock %}
