{% extends 'sgc/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<h2>Meu Perfil</h2>

<form method="post">
    {% csrf_token %}
    <h3>Dados Pessoais</h3>
    {% bootstrap_label usuario.nome %} {% bootstrap_label usuario.sobrenome %}
    </br>
    {% bootstrap_label usuario.email %}
    </br>
    {% bootstrap_label usuario.tipo_acesso %}
    <h3>Dados Adicionais</h3>
    Formação: {% bootstrap_label perfil.formacao %}
    </br>
    Área de atuação: {% bootstrap_label perfil.area_atuacao %}
    <h3>Editar Dados Adicionais:</h3>
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
</form>

{% endblock %}
